.rtl{
.work-faster-wrapper{
    padding: 0 50px;
    .work-faster{
      display: flex;
      padding:100px 100px;
      background-color: rgb(210, 223, 226);
      @media only screen and (max-width: 921px) {
          padding-right: unset;
          flex-direction: column;
          img{
              width: 200px;
              
          }
          .phone-img{
            @media only screen and (max-width: 921px) {
                margin: auto;
            }
          }
          
      }
      img{
      }
      .work-faster-content{
        margin-right: 200px;
        @media only screen and (max-width: 921px) {
        margin-right: 50px !important;
        }
        .work-faster-title{
          font-size: 40px;
        }
        .work-faster-text{
          margin-top: 30px;
          img{
            margin: unset;
            width: 15px;
          }
        }
        .icons{
          width: 110px;
          display: flex;
          justify-content: space-between;
          img{
            cursor: pointer;
            margin: unset;
            width: 25px;
          }
          
        }
      }
      
      
    }
  }
}