.devices{
    background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("download-bg.jpeg");
    margin:0px 50px;
    height: 100%; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0px 0px 100px 0px;
    .devices-title{
        @media only screen and (max-width: 921px) {
            padding-left: 50px;
            padding-right: 50px;
        }
        @media only screen and (max-width: 621px) {
            padding-left: 150px;
            padding-right: 150px;
        }
      display: flex;
      justify-content: center;
      color: white;
      padding-top: 100px;
      font-size: 40px;
      div{
        // width: 700px;
      }
    }
    .devices-title-content{
        @media only screen and (max-width: 921px) {
            padding-left: 50px;
            padding-right: 50px;
        }
        @media only screen and (max-width: 621px) {
            padding-left: 150px;
            padding-right: 150px;
        }
    }
    .devices-content-container{
      width: 620px;
      color: white;
    }
    .google-play-app-store{
      width: 100%;
      display: flex;
      justify-content: center;
      padding-top: 20px;
      img{
        width: 160px;
      }
      .img1{
        margin-right: 10px;
      }
      .img2{
        margin-left: 10px;
      }
    }
    .availability{
        font-style: italic;
        color: white;
        padding: 20px 0;
    }
  }